# Ignore everything
*

# But not these files...
!.gitignore
!TripAdvisor.framework
!README.md
!TripAdvisor.framework/*
!TripAdvisor/Tripadvisor.framework/*

# ...even if they are in subdirectories
!*/